body{
    font-family: 'Roboto Mono', monospace;
}
.home-txt-container{
    position: relative;
    top: 12%;
    height: 30vh;
}
.home-container{
    position: absolute;
    top: 35%;
    /* left: 30%;    */
    width: 100%;
    margin: 0 auto;
    height: 50vh;
}
.home-txt-container h3{
    font-size: 1.4rem;
}
.home-txt-head h1{
    font-size: 6rem;
    color: rgb(255, 255, 255);
}
.btn-web{
    padding: 1em;
    border: 2px solid orange;
    background-color: transparent;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.btn-web:hover{
    transition: all ease-in 0.1s;
    background-color: orange;
}